
.send{
    background-color: #25863f;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    font-size: larger;
}
.send:hover{
    background-color: rgb(242, 240, 240);
    outline: 2px solid #25863f;
    color:black
}


.questionLi{
    padding: 15px;
    border: 2px solid #25863f;
    border-radius: 7px;
    margin-bottom: 2%;
    margin-top: 2%;
}
.questionLi:hover{
    background-color: rgb(242, 240, 240);
    cursor: pointer;

}
.selected{
   background-color: #25863f;
   color: white;
   padding: 15px;
   border: 2px solid #25863f;
   border-radius: 7px;
   margin-bottom: 2%;
   margin-top: 2%;

}