/* 
 .send{
    margin: auto;
    width: 150px;
    height: 50px;
    background-color: #25863f;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
} 
.send:hover{
    background-color: rgb(242, 240, 240);
    outline: 2px solid #25863f;
    color:black
}


.questionLi{
    display: flex;
    align-items: center;
    height: 70px;
    padding:  11px;
    border: 1px solid #25863f;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: start;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-weight: 500; 
}
.questionLi:hover{
    background-color: rgb(242, 240, 240);
    cursor: pointer;

}
.selected{
   background-color: #25863f;
   color: white;
   padding: 11px;
   border: 2px solid #25863f;
   border-radius: 7px;
   margin-bottom: 2%;
   margin-top: 2%;
   font-size: 22px;

}  */

form input:focus{
    --tw-ring-color: green !important;
    border:none !important;
    outline:2px solid green !important;
    outline-offset: 0px !important;
    transform: scale(1);
}