.btnn{
    padding: 5px 20px 5px 20px ;
    
    background-color: green;
    color: white;
    margin-top: 25px;
    margin-bottom: 20px;
    border-radius: 15px;

}
.yellowAnimation1{
    animation: appear 2s ;

}
.yellowAnimation2{
    animation: appear2 3s ;

}
.yellowAnimation3{
    animation: appear3 4s ;

}

@keyframes appear {
    0%{
        width: 0;


    }
    100%{
        width: 30px;


    }
    
}
@keyframes appear2 {
    0%{
        width: 0;


    }
   
    100%{
        width: 60px;


    }}
    @keyframes appear3 {
        0%{
            width: 0;
    
    
        }
        
        100%{
            width: 80px;
    
    
        }}