.bookDetailsContainer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
  background: #f8f8f8;
}

.bookInfo {
  width: 50%;
  padding: 20px;
}

.bookTitle {
  font-size: 28px;
  font-weight: bold;
  color: #02c93b;
  text-align: center;
}

.author {
  text-align: center;
  font-style: italic;
  margin-top: 10px;
}

.rating {
  color: gold;
  text-align: center;
  font-size: 25px;
}
.bookcontain p{
  font-size: 20px;
  margin-top: 25px;
  
}

.price {
  font-size: 22px;
  color: #333;
}

.currentPrice {
  font-weight: bold;
}

.oldPrice {
  text-decoration: line-through;
  color: gray;
  margin-left: 10px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity {
  width: 50px;
  padding: 5px;
}

.actionsContainer {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 20px;
}

.addToCart{
  background: #02c93b;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 320px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.addToCart:hover, .favorite:hover {
  background: #02972e;
}
.tabs {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-weight: bold;
}

.activeTab {
  color: #c7a16b;
  border-bottom: 2px solid #c7a16b;
}

.bookImageContainer {
  width: 50%;
  height: 500px;
  border-radius: 5px;
  display: flex;
  justify-content: center; 
  align-items: center;
}
.bookImage {
  object-fit: cover;
  transition: transform 0.3s ease-in-out; 
}

.bookImage:hover {
  transform: scale(1.1); 
}