.head {
    font-size: 40px;
    text-align: center;
    color: #333;
}

.contain2 {
    width: 640px;
    margin: 80px auto;
    background-color: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 40px 50px;
    text-align: right;
}
.contain2 h1{
    font-size: 25px;
    font-weight: bold;
    color: #1b602d;
}
.contain2 h2{
    background-color: #f0f8ff;
    border: 2px solid #25863f; 
    border-radius: 8px; 
    padding: 20px; 
    margin: 20px 0; 
    font-size: 18px; 
    font-weight: bold; 
    color: #262626; 
    line-height: 1.8; 
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100vh;
    height: 110px;
    display: block;
    margin: 0 auto 20px;
}
.contain2 hr{
    height: 2px;
    border: none;
    background-color: #262626;
    margin-top: 7px;
}

.contain3 input{
    height: 60px;
    border: 2px solid #25863f;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: start;
    box-sizing: border-box;
    font-weight: 500; 
}

.contain3 label{
    margin-bottom: 5px;
    font-size: 19px;
    margin: 15px 0px;
}

.contain3 .phoneInput {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.countryCode {
    width: 30%;
    padding: 0 10px;
    font-size: 16px;
    border: 2px solid #25863f;
    border-radius: 0 8px 8px 0; 
    outline: none;
    box-sizing: border-box;
    font-weight: bold;
    background-color: #f8f8f8;
    cursor: pointer;
    height: 50px; 
    margin-bottom: 19px;
    overflow-y: auto;
    max-height: 150px; 
}
.countryCode option {
    padding: 5px 10px;
    font-size: 16px;
}

.phoneInput {
    display: flex;
    flex-direction: row-reverse;
}
.phoneInput input {
    width: 70%;
    height: 50px;
    border: 2px solid #25863f;
    border-right: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
    font-size: 19px;
    outline: none;
    box-sizing: border-box;
    font-weight: bold;
}
.birthDate {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.dateInput {
    width: 30%;
    padding: 5px;
    font-size: 18px;
    border: 2px solid #25863f;
    border-radius: 8px;
    background-color: #f8f8f8;
    cursor: pointer;
}
.dateInput option {
    padding: 5px 10px;
    font-size: 16px;
}

.gender {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
.gender input{
    height: 20px;
    margin-top: 20px;
}

.gender label {
    font-size: 18px;
    font-weight: bold;
}

.jobStatus {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #25863f;
    border-radius: 8px;
    background-color: #f8f8f8;
    cursor: pointer;
    margin-bottom: 20px;
}
.bu1{
    margin: 20px 150px ;
    width: 220px;
    height: 65px;
    background-color: #25863f;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    
}
.error {
    color: red;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    background-color: #ffe6e6;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ff4d4d;
}
.terms {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.terms input {
    height: 20px;
    margin-bottom: 5px;
}

.terms label {
    font-size: 16px;
    color: #333;
    margin-right: 12px;
}
.redirectText {
    text-align: center;
    font-size: 16px;
    color: #333;
    margin-top: 20px;
}

.redirectLink {
    color: #25863f;
    font-weight: bold;
    text-decoration: none;
}

.redirectLink:hover {
    text-decoration: underline;
    color: #1b602d;
}



