.head {
    font-size: 40px;
    text-align: center;
    color: #333;
}

.contain2 {
    max-width: 640px;
    width: 90%;
    margin: 40px auto;
    background-color: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px 25px;
    text-align: right;
    border: 1px solid #ccc; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.contain2 h1{
    font-size: 23px;
    font-weight: bold;
    color: #1b602d;
}
.contain2 h2{
    background-color: #f0f8ff;
    border: 2px solid #25863f; 
    border-radius: 8px; 
    padding: 20px; 
    margin: 20px 0; 
    font-size: 18px; 
    font-weight: bold; 
    color: #262626; 
    line-height: 1.8; 
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}
.contain2 hr{
    height: 2px;
    border: none;
    background-color: #262626;
    margin-top: 7px;
}

.contain3 input:not([type="radio"]), select{
   padding: 10px;
    border: 2px solid #25863f;
    border-radius: 8px;
    margin-bottom: 12px;
    font-size: 15px;
    cursor: pointer;
    text-align: start;
    box-sizing: border-box;
    font-weight: 500; 
}

.contain3 select{
    width: 100%;
    
}


.contain3 label{
    margin-bottom: 5px;
    font-size: 16px;
    margin: 10px 0px;
}

.gender {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}


.gender label {
    font-size: 18px;
    font-weight: bold;
}

.jobStatus {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #25863f;
    border-radius: 8px;
    background-color: #f8f8f8;
    cursor: pointer;
    margin-bottom: 20px;
}
.bu1 {
    width: 100%;
    max-width: 220px;
    height: 45px;
    /* background-color: #25863f; */
    color: #fff;
    font-size: 20px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}
.error {
    color: red;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    background-color: #ffe6e6;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ff4d4d;
}
.terms {
    display: flex;
    align-items: end;
    margin: 10px 0;
}

.terms input {
    height: 20px;
    /* margin-bottom: 5px; */
}

.terms label {
    font-size: 16px;
    color: #333;
    margin-right: 12px;
}
.redirectText {
    text-align: center;
    font-size: 16px;
    color: #333;
    margin-top: 20px;
}

.redirectLink {
    color: #25863f;
    font-weight: bold;
    text-decoration: none;
}

.redirectLink:hover {
    text-decoration: underline;
    color: #1b602d;
}

@media screen and (max-width: 600px) {
    .contain2{
        max-width: 540px;
    }
    .birthDate {
        flex-direction: column;
    }

    .dateInput {
        width: 100%;
    }

    .phoneInput {
        flex-direction: column-reverse;
    }

    .phoneInput input,
    .countryCode {
        width: 100%;
        border-radius: 8px;
    }

    .contain3 input,
    .jobStatus,
    .countryCode {
        font-size: 16px;
        /* height: 50px; */
    }

    .bu1 {
        font-size: 18px;
        height: 50px;
    }

    .contain2 {
        padding: 10px;
    }
    .contain2 h2{
        font-size: 15px;
       
    }
    .contain2 h1{
        font-size: 20px;
    }

    .gender {
        flex-direction: column;
        align-items: flex-start;
    }
}

