/* Personal trainer button styling */
/* .buttonPersonal {
    background-color: var(--primary-color, #C62E2E);
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    padding: 13px;
} */

/* .buttonPersonal:hover {
    background-color: var(--stocksquares-color);
    /* Green on hover */
/* } */ 



/* @media (max-width: 480px) {
    .buttonPersonal {
        padding: 0.5rem 1rem;
        font-size: 0.95rem;
    }
} */



