.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin: auto;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation: pulsOut 1.8s ease-in-out infinite;
    filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
  }
  .loader:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 1rem green;
    animation-name: pulsIn;
  }
  .loader:after {
    width: calc(100% - 2rem);
    padding-bottom: calc(100% - 2rem);
    box-shadow: 0 0 0 0 green;
  }

  @keyframes pulsIn {
    0% {
      box-shadow: inset 0 0 0 1rem green;
      opacity: 1;
    }
    50%, 100% {
      box-shadow: inset 0 0 0 0 green;
      opacity: 0;
    }
  }

  @keyframes pulsOut {
    0%, 50% {
      box-shadow: 0 0 0 0 green;
      opacity: 0;
    }
    100% {
      box-shadow: 0 0 0 1rem green;
      opacity: 1;
    }
  }
.articleBody img {
            /* تاخد عرض العنصر الأب بالكامل */
  max-width: 100%;        /* تمنع التكبير عن العنصر الأب */
  height: auto;           /* تحافظ على نسبة الصورة */
  object-fit: cover;    /* الصورة تتناسب مع العنصر بدون قص */
          /* تمنع النصوص من الالتفاف حول الصورة */
       /* تحافظ على المسافة حول الصورة ومركزة أحيانًا */
  border-radius: 0.5rem;
}


