.slideh1 {
    position: absolute;
    top: 50px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
  }
  

  :global(.swiper-pagination-bullet) {
    background-color: #ffffff ;
    opacity: 1;
    width: 20px;
    border-radius: 8px;
  }
  
  :global(.swiper-pagination-bullet-active) {
    background-color: #02c235 ;
    width: 35px;
    border-radius: 8px;
  }

  .sec2{
    background-image: url("../");
    background-color: #b5b5b5;
    width: 75%;
    height: 150px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin: 40px auto;
  }
  .sec2 h2{
    color: #14b63f;
    padding: 30px 30px;
    font-size: 25px;
  }
  .sec2 p{
    color:#fff;
    padding: 0px 30px;
    font-size: 18px;
  }
  .sec2 span{
    color:#14b63f;
    font-size: 23px;
  }
  .bookshelfContainer {
    text-align: center;
    padding: 50px 0;
    position: relative;
    margin-top: 120px;
    margin-bottom: 150px;
    background: rgb(126, 125, 125);
  }
  .sectionTitle {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  .shelf {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 100px;
    position: relative;
  }
  .shelf::after {
    content: "";
    width: 80%;
    height: 15px;
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: -20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }
  .bookItem {
    position: relative;
    margin: 0 10px;
    perspective: 1000px;
  }
  .bookImage1,.bookImage5 {
    max-width: 100%;   
    max-height: 300px; 
    object-fit: contain; 
    transition: transform 0.3s ease-in-out;
  }
  .bookImage3 {
    max-width: 100%; 
    max-height: 440px; 
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
  }
  .bookImage2,.bookImage4 {
    max-width: 100%;   
    max-height: 370px; 
    object-fit: contain; 
  }
  
  .sectionTitle{
    color: #02b620;
  }
  .featuredSection {
    padding: 50px 0;
    text-align: center;
  }
  .featuredGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    justify-items: center;
    padding: 20px;
    margin-top: 20px;
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
}
.featuredItem img{
  height: 300px;
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 1224px) {
  .featuredGrid {
    grid-template-columns: repeat(2, 1fr); 
  }
  .filtersContainer{
    margin-top: 50px;
    margin-right: -110px;
  }
}
@media (max-width: 800px) {
  .featuredGrid {
    grid-template-columns: repeat(1, 1fr); 
  }
}
  .featuredItem {
    background: rgba(0, 0, 0, 0.123);
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  .featuredItem:hover {
    transform: translateY(-5px);
  }
  .separator {
    width: 80%;
    height: 2px;  
    background-color: #00000033;
    border: none;
    margin: 10px auto;
  }
  .featuredImage {
    width: 100%;
    height: auto;
    border-radius: 6px;
  }
  .featuredTitle {
    font-size: 18px;
    font-weight: 500;
    color: #555;
    margin: 10px 0;
  }
  .featuredPrice {
    font-size: 22px;
    font-weight: bold;
    color: #0cd506;
  }
  .buyButton {
    background: #02a51d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
    width: 100%;
    margin-top: 5px;
  }
  .buyButton:hover {
    background:#016411 ;
  }
  .starRating {
    color: rgb(207, 176, 0);
    font-size: 30px;
    margin: 10px 0;
  }

.filtersContainer {
  width: 87%;
  display: flex;
  align-items: center;
  gap: 20px; 
  margin-bottom: 20px;
  justify-content: flex-end; 
}


.filterLabel {
  font-size: 20px;
  font-weight: bold;
  color: #29bf00;
}

.filterSelect {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #555;
  color: #ffffff;
  cursor: pointer;

}