.step-number {
    background-color: #009728;
    color: white;
    width: 20px; 
    height: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 14px;
  }
  .step-item {
    display: flex;    
    align-items: center
  }
  .step-item span{
    margin-left: 6px;  
  }
  