.button {
    --color: #008753;
    padding: 0.6em 1.5em;
    background-color: transparent;
    border-radius: .6em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    margin: 0px 0px 20px 0px;
    font-weight: bold;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(255, 255, 255);
   }
   
   .button:active {
    filter: brightness(.9);
   }


   .button1 {
    --color: #008753;
    padding: 0.6em 1.5em;
    background-color: transparent;
    border-radius: .6em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    margin: 0px 0px 20px 0px;
    font-weight: bold;
    margin-left: 15px;
   }
   
   .button1::before, .button1::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button1::before {
    top: -1em;
    left: -1em;
   }
   
   .button1::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button1:hover::before, .button1:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button1:hover {
    color: rgb(255, 255, 255);
   }
   
   .button1:active {
    filter: brightness(.9);
   }
   .align{
    display: flex;
    justify-content: space-between;
   }


   /* خلفية المودال مع تأثير البلور */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* شفافية للخلفية */
    backdrop-filter: blur(10px); /* تأثير البلور */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* تأكد أن المودال فوق كل العناصر */
  }
  
  /* صندوق المودال */
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
    position: relative;
  }
  
  .modal-content button {
    margin-top: 15px;
    background: red;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .modal-content button:hover {
    background: darkred;
  }


.endl hr{
    width: 100%;
    height: 2px;
    background-color: #00000066;
    margin-top: 12px;
}
.endl p{
    margin-top: 5px;
    display: flex;
    align-items: start;
}
