.slider {
    direction: rtl;
  }

/* .slider{
    overflow: hidden;
    
}
.slider::-webkit-scrollbar {
    display: none; 
}

.slider {
    -ms-overflow-style: none;  
    scrollbar-width: none;    
}

.card{
    transform: translateX(0%);
    animation: move 8s linear infinite ;
    animation-delay: 3s;
    transition: 0.5s;
}
@keyframes move {
    0% {
        transform: translateX(0);
        
    }
    15% {
        transform: translateX(60vw);
    }
    30% {
        transform: translateX(60vw);
    }
    45% {
        transform: translateX(60vw);
    }
    60% {
        transform: translateX(60vw);
    }
    75% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
} */
