.container {
    display: flex;
    font-family: Arial, sans-serif;
    direction: rtl;
    height: 100vh;
}

.sidebar {
    width: 300px; 
    background-color: #000000;
    padding: 10px;
    border-left: 2px solid #00ff44;
    height: 100vh; 
}

.mainContent {
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100vh; 
    flex: 1; 
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 100px;
    margin: 5px 0;
    background-color: #1ec34a;
    border-radius: 5px;
    cursor: pointer;
    text-align: right;
    font-size: 20px;
    transition: background-color 0.3s;
}

.sidebar li:hover {
    background-color: #1b602dab;
}

.icon {
    margin-left: 12px;
    color: #ffffff;
    margin-bottom: 3px;
}

.container ul {
    list-style: none;
    padding: 0;
}

.container li {
    padding: 10px;
    background-color: #02c235;
    margin: 5px 0;
    cursor: pointer;
}

.container li.active {
    background-color: #1b602dab;
    color: white;
}

.logo {
    width: 350px;
    height: 110px;
    display: block;
    margin: 10px 10px;
}

.userCount strong {
    font-size: 22px;
    color: #02c235;
}

.userCount {
    font-size: 24px;
    color: #000000;
    margin-left: 25px;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    height: 120px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    flex-shrink: 0;
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    margin-top: 10px; 
    flex-grow: 1; 
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #02c235;
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin: 30px 0px;
}

.circle span {
    margin-bottom: 10px;
    font-size: 22px;
}

.circle strong {
    font-size: 20px;
}
.chartTitle {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
}
.radioSection {
    display: flex;
    align-items: center;
    margin-top: 20px;  
}

.radioSection input{
    margin-left: 101px;
    margin-top: -8px;
    gap: 10px;  
}
.radioSection label{
    margin-left: 20px;
    
    gap: 10px;  
}
.radioLabel {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;

}
.radioLabel:hover {
    color: #1b602d;
}

.chartTitle {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

.chartSection {
    margin-top: 40px;
    padding: 20px;
}
.partners_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.card {
    width: 300px;
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-size: 18px;
    font-weight: bold;
    color: #02c235;
}
