.container {
    display: flex;
    font-family: Arial, sans-serif;
    direction: rtl;
    height: 100vh;
}



.mainContent {
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100vh; 
    flex: 1; 
}


.icon {
    margin-left: 12px;
    color: #ffffff;
    margin-bottom: 3px;
}

.container ul {
    list-style: none;
    padding: 0;
}

.container li {
    padding: 10px;
    background-color: #02c235;
    margin: 5px 0;
    cursor: pointer;
}

.container li.active {
    background-color: #008824ab;
    color: white;
}

.logo {
    width: 350px;
    height: 110px;
    display: block;
    margin: 10px 10px;
}

.userCount strong {
    font-size: 22px;
    color: #02c235;
}

.userCount {
    font-size: 24px;
    color: #ffffff;
    margin-left: 25px;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgba(81, 81, 81, 0.135);
    height: 120px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    flex-shrink: 0;
}

.sidebar {
    position: fixed;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.2);
    padding: 25px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    backdrop-filter: blur(15px);
    width: 80px;
    align-items: center;
    transition: width 0.3s ease;
    overflow: hidden;
    z-index: 1000;
}

.sidebar li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 50px;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 60px;
    height: 60px;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    font-size: 16px;
}
.sidebar:hover {
    width: 200px; 
}

.sidebar:hover li {
    width: 100%;
    padding-left: 20px;
}
.sidebar:hover .icon {
   display: none;
}

.sidebar li .text {
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px; 
}
.sidebar .icon{
    margin-left: 1px;
    margin-top: 3px;
    font-size: 20px;
}
.sidebar ul li{
    font-size: 17px;
}

.userDetails{
    display: inline;
}


.userInfo {
    align-items: center;
    margin-right: 20px;
}
.useralign {
    align-items: center;
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.userIcon {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 5px;

}

.userText {
    font-size: 23px;
    font-weight: bold;
    color: #ffffff;
}
.userText span{
    color: #01a22c;
    margin-left: 30px;
}
.userEmail {
    font-size: 17px;
    color: #b4b4b4;
    margin-right: 10px;
}
.activate {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.activate span {
    width: 17px;
    height: 17px;
    background-color: #00c334;
    border-radius: 50%;
    display: inline-block; 
    position: absolute;
    top: 30px;
    left: 25px; 
    z-index: 1;
}
.mainContent button{
    background-color: white;
    border-radius: 10px;
    color: rgba(81, 81, 81, 0.929);
    width: 180px;
    height: 50px;
    font-weight: bold;
    font-size: 19px;
}
.splineContainer{
    height: 90vh;
}
.splineContainer {
    position: relative; 
    width: 100%;
}

.overlayText {
    position: absolute;
    top: 50px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white; 
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}
.overlayText h2{
    font-size: 40px;
    width: 520px;
}
.overlayText p{
    margin-top: 15px;
    opacity: .5;
}