.container {
    display: flex;
    font-family: Arial, sans-serif;
    min-height: 100vh;

}
.mainContent {
    display: flex;
    flex-direction: column;  
    width: 100%; 
    min-height: 100vh; 
    flex: 1; 
    
}


.icon {
    margin-left: 12px;
    color: #ffffff;
    margin-bottom: 3px;
}

.container ul {
    list-style: none;
    padding: 0;
}

.container li {
    padding: 10px;
    background-color: gainsboro;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
}

.container li.active {
    background-color: var(--accent-950);
    color: black;
}

.logo {
    width: 350px;
    height: 110px;
    display: block;
    margin: 10px 10px;
}

.userCount strong {
    font-size: 20px;
    color: #02c235;
}

/* .userCount {
    font-size: 22px;
    color: #ffffff;
    margin-left: 25px;
    box-shadow: 1px 1px 3px rgb(153, 149, 149);
    padding: 14px 15px;
} */

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(223, 223, 223);
    min-height: 120px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    flex-shrink: 0;
}



.userDetails{
    display: inline;
}


.userInfo {
    align-items: center;
    margin-right: 20px;
}
.useralign {
    align-items: center;
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.userIcon {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 5px;

}

.userText {
    font-size: 23px;
    font-weight: bold;
    color: black;
}
.userText span{
    color: #01a22c;
    margin-left: 30px;
}
.userEmail {
    font-size: 17px;
    color: #b4b4b4;
    margin-right: 10px;
}
.activate {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.activate span {
    width: 17px;
    height: 17px;
    background-color: #00c334;
    border-radius: 50%;
    display: inline-block; 
    position: absolute;
    top: 30px;
    left: 25px; 
    z-index: 1;
}
.mainContent button{
    /* background-color: white; */
    border-radius: 10px;
    color: rgba(81, 81, 81, 0.929);
    width: 180px;
    height: 50px;
    font-weight: bold;
    font-size: 19px;
}
.splineContainer{
    height: 90vh;
}
.splineContainer {
    position: relative; 
    width: 100%;
}

.overlayText {
    position: absolute;
    top: 50px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white; 
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}
.overlayText h2{
    font-size: 40px;
    width: 520px;
}
.overlayText p{
    margin-top: 15px;
    opacity: .5;
}
.circle{
border-radius: 100%;
background-color: #01a22c;
color: white;
/* width: 10%; */
animation: fill 2.5s 1;

}
.adsBtn{
    background-color: cornflowerblue;
    padding: 5px;
}

@keyframes fill {
    0%{
        background-color: white;
        rotate: 150deg;
    }
    50%{
        background-color: #01a22c;
        rotate: -30deg;
    }
    100%{
        rotate: 0deg;
    }
}