.contain {
    width: 640px;
    margin: 80px auto;
    background-color: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 40px 50px;
}

.contain hr{
    height: 2px;
    border: none;
    background-color: #262626;
    margin-top: 10px;
}

.contain h1{
    font-size: 27px;
    font-weight: bold;
    color: #25863f;
}

.contain h2{
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0px;
}

.contain ul li {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 10px 15px;
    border: 1px solid #25863f;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: start;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-weight: 500; 
}

.contain ul li:hover {
    background-color: #dfdfdf; 
}

.contain ul li.selected {
    background-color: #25863f;
    color: white;
    border: 1px solid #1f7034; 
}

.contain button{
    margin: auto;
    width: 250px;
    height: 65px;
    background-color: #25863f;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.pop button{
    margin: 0px 10px;
}

.contain .index{
    margin: auto;
    font-size: 18px;
    text-align: center;
    direction: ltr;
    margin-top: 10px;
    bottom: 0;
} 

.contain .index .top{
    color: #25863f;
    margin-top: 10px;
} 

.error {
    color: red;
    font-weight: bold;
    margin: 15px 0px;
}

form {
    text-align: left;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.lab1{
    margin-top: 25px;
}

.full label{
    font-size: 19px;
    margin: 15px 0px;
}

.full input{
    height: 70px;
    border: 2px solid #25863f;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: start;
    box-sizing: border-box;
    font-weight: 500; 
}

.important-info {
    background-color: #f0f8ff;
    border: 2px solid #25863f; 
    border-radius: 8px; 
    padding: 20px; 
    margin: 20px 0; 
    font-size: 18px; 
    font-weight: 500; 
    color: #262626; 
    line-height: 1.8; 
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login h1{
    text-align: center;
    margin-bottom: 50px;
}

.login button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop{
    text-align: center;
    margin-top: 20px;
}
.react-datepicker__navigation {
    background: none !important;
    border: none !important;
    width: 50px !important;
    height: 50px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .react-datepicker__navigation-icon {
    display: none;
  }
  .react-datepicker-wrapper {
    width: 100% !important;
  }
  
  .react-datepicker__input-container input {
    width: 100% !important;
  }
  
@media (max-width: 768px) {
    .contain {
        width: 90%;
        padding: 20px;
    }

    .contain h1 {
        font-size: 24px;
    }

    .contain h2 {
        font-size: 20px;
    }

    .contain ul li {
        font-size: 18px;
    }

    .contain button {
        width: 100%;
    }
    .pop button:nth-child(1) {
        margin-bottom: 20px; 
    }
}



